@{
    ViewData["Title"] = "Ana Sayfa";
}
<style>
    div{
         display: table-cell;
         text-align: center;
         vertical-align: middle;
         height: 80vh;/*ekran yüksekliğinin tamamı*/
         width: 100vw;/*ekran genişliğinin tamamı*/
        }
</style>
<div class="text-center" >
    <h1 class="display-4 fw-bold center ">ÖĞRENCİ VE NOT BİLGİ SİSTEMİ</h1>
</div>
